<dc-page-header-wave
  [title]="'About Everythink'"
  [subtitle]="
    'Everythink is an all included Community, with smart assistants you could connect in realtime all your members. what are you waiting for?'
  "
>
</dc-page-header-wave>
<dc-about-overview></dc-about-overview>
<dc-about-video></dc-about-video>
<dc-about-solutions></dc-about-solutions>
<dc-counter4></dc-counter4>
<dc-about-features></dc-about-features>
<dc-about-customers></dc-about-customers>
<dc-about-team></dc-about-team>
<dc-trust-us [title]="'They trust us'"></dc-trust-us>
<dc-developer-designer></dc-developer-designer>
<dc-about-register></dc-about-register>
<dc-footer2></dc-footer2>
