<section class="perspective-mockups hidden-preload">
  <div class="tablet ipad landscape">
    <div class="screen">
      <img src="assets/images/saas/screens/tablet/1.png" alt="..." />
    </div>
    <div class="button"></div>
  </div>

  <div class="phone-big iphone-x">
    <div class="screen">
      <video
        width="100%"
        autoplay="autoplay"
        controls
        style="margin-top: 50px; margin-bottom: 20px;"
      >
        <source
          src="assets/images/saas/screens/app/Story-Realstate-Carol-hill-Agent.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="notch"></div>
  </div>

  <div class="phone-small iphone-x">
    <div class="screen">
      <video
        width="100%"
        autoplay="autoplay"
        controls
        style="margin-top: 50px; margin-bottom: 20px;"
      >
        <source
          src="assets/images/saas/screens/app/Story-Realstate-Diana-Rent-Home.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="notch"></div>
  </div>

  <div class="tablet ipad portrait">
    <div class="screen">
      <img src="assets/images/saas/screens/tablet/2.png" alt="..." />
    </div>
    <div class="button"></div>
  </div>
</section>
