<section class="section get-started">
  <div class="container">
    <div class="section-heading text-center">
      <h2 class="extra-bold">
        {{
          'DEMOS.CUSTOMER_SERVICE.AUTOMATE_SOCIAL_GET_STARTED.ALL_IN_ONE'
            | translate
        }}
      </h2>
      <p class="lead color2">
        <span class="text-primary">{{
          'DEMOS.CUSTOMER_SERVICE.AUTOMATE_SOCIAL_GET_STARTED.EVERTTHINK_YOU_NEED_IN_ONE_SOLUTION'
            | translate
        }}</span>
        {{
          'DEMOS.CUSTOMER_SERVICE.AUTOMATE_SOCIAL_GET_STARTED.EVERTTHINK_YOU_NEED_IN_ONE_SOLUTION1'
            | translate
        }}
        {{
          'DEMOS.CUSTOMER_SERVICE.AUTOMATE_SOCIAL_GET_STARTED.INTRODUCING'
            | translate
        }}
      </p>
    </div>

    <div class="pb-12 position-relative">
      <div class="" data-aos="fade-u">
        <div class="screen">
          <img
            src="assets/images/automate-social/screens/dash/4.png"
            class="img-responsive"
            alt=""
          />
        </div>
      </div>

      <div class="floating-box bg-contrast">
        <!-- data-aos="fade-right" -->
        <div class="p-3 p-lg-3 shadow-lg rounded text-center">
          <p class="lead regular">
            {{
              'DEMOS.CUSTOMER_SERVICE.AUTOMATE_SOCIAL_GET_STARTED.COMMUNICATE_BETTER'
                | translate
            }}
          </p>

          <p class="handwritten highlight font-md mt-5">
            {{
              'DEMOS.CUSTOMER_SERVICE.AUTOMATE_SOCIAL_GET_STARTED.NO_CREDIT_CARD_NEEDED'
                | translate
            }}
          </p>
          <a
            href="https://everythink.ai/app/#/sessions/signup"
            class="btn btn-rounded btn-lg btn-primary"
          >
            {{
              'DEMOS.CUSTOMER_SERVICE.AUTOMATE_SOCIAL_GET_STARTED.START_NOW'
                | translate
            }}
          </a>

          <hr class="w-50 mx-auto my-4" />
          <p class="small text-secondary">
            {{
              'DEMOS.CUSTOMER_SERVICE.AUTOMATE_SOCIAL_GET_STARTED.BY_REGISTERING'
                | translate
            }}
          </p>
        </div>
      </div>

      <dc-modal-video [identifier]="'myModal'" [videoId]="'Hi4htnMAvCs'">
        <span
          class="play-video btn btn-primary btn-circle text-contrast shadow"
        >
          <fa-icon [icon]="play" [class]="'font-lg'"></fa-icon>
        </span>
      </dc-modal-video>
    </div>
  </div>
</section>
