<footer class="site-footer section">
  <div class="container pb-3">
    <div class="row gap-y text-center text-md-left">
      <div class="col-md-4 mr-auto">
        <img src="assets/img/logo.png" alt="" class="logo" />

        <p>
          {{ 'FOOTER.FOOTER1.EVERYTHINK_IS_POISED' | translate }}
        </p>
      </div>

      <div class="col-md-2">
        <h6 class="py-2 bold">{{ 'FOOTER.FOOTER1.COMPANY' | translate }}</h6>

        <nav class="nav flex-column">
          <a class="nav-item py-2" href="https://everythink.ai/pages/about-us">
            {{ 'FOOTER.FOOTER1.ABOUT' | translate }}</a
          >
          <a class="nav-item py-2" href="https://everythink.ai/pages/pricing">
            {{ 'FOOTER.FOOTER1.SERVICES' | translate }}</a
          >
          <a class="nav-item py-2" href="https://everythink.ai/pages/blog/list">
            {{ 'FOOTER.FOOTER1.BLOG' | translate }}</a
          >
        </nav>
      </div>

      <!-- <div class="col-md-2">
        <h6 class="py-2 bold">{{ 'FOOTER.FOOTER1.PRODUCt' | translate }}</h6>

        <nav class="nav flex-column">
          <a class="nav-item py-2" href="#">
            {{ 'FOOTER.FOOTER1.FEATURES' | translate }}</a
          >
          <a class="nav-item py-2" href="#">
            {{ 'FOOTER.FOOTER1.API' | translate }}</a
          >
          <a class="nav-item py-2" href="#">
            {{ 'FOOTER.FOOTER1.CUSTOMERS' | translate }}</a
          >
        </nav>
      </div>

      <div class="col-md-2">
        <h6 class="py-2 bold">{{ 'FOOTER.FOOTER1.CHANNELS' | translate }}</h6>

        <nav class="nav flex-column">
          <a class="nav-item py-2" href="#">
            {{ 'FOOTER.FOOTER1.CAREERS' | translate }}</a
          >
          <a class="nav-item py-2" href="#">
            {{ 'FOOTER.FOOTER1.CONTACT' | translate }}</a
          >
          <a class="nav-item py-2" href="#">
            {{ 'FOOTER.FOOTER1.SEARCH' | translate }}</a
          >
        </nav>
      </div> -->
    </div>

    <hr class="mt-5" />
    <div class="row small align-items-center">
      <div class="col-md-4">
        <p class="mt-2 mb-md-0 text-secondary text-center text-md-left">
          {{ 'FOOTER.FOOTER1.COPYRIGHT' | translate }}
        </p>
      </div>

      <div class="col-md-8">
        <nav class="nav justify-content-center justify-content-md-end">
          <a
            href="https://www.facebook.com/EveryThinkLtd"
            class="btn btn-circle btn-sm btn-secondary mr-3 op-4"
          >
            <fa-icon [icon]="fa.faFacebook"></fa-icon>
          </a>
          <a
            href="https://www.linkedin.com/company/everythink-ltd"
            class="btn btn-circle btn-sm btn-secondary mr-3 op-4"
          >
            <fa-icon [icon]="fa.faTwitter"></fa-icon>
          </a>
          <a href="#" class="btn btn-circle btn-sm btn-secondary op-4">
            <fa-icon [icon]="fa.faInstagram"></fa-icon>
          </a>
        </nav>
      </div>
    </div>
  </div>
</footer>
