<!-- ./Download -->
<section class="section app-download">
  <div class="container bring-to-front">
    <div class="shadow-lg bg-primary p-5 rounded">
      <div class="section-heading text-center">
        <p class="badge badge-contrast badge-pill bold py-2 px-4">
          {{ 'DEMOS.SALES.APP_LANDING2_DOWNLOAD.START_TODAY' | translate }}
        </p>
        <h2 class="text-contrast">
          {{ 'DEMOS.SALES.APP_LANDING2_DOWNLOAD.DOWNLOAD_THE_APP' | translate }}
        </h2>
        <p class="text-contrast">
          {{
            'DEMOS.SALES.APP_LANDING2_DOWNLOAD.DOWNLOAD_EVERTTHINK' | translate
          }}
        </p>
      </div>

      <nav
        class="nav flex-column flex-md-row justify-content-center align-items-center mt-5"
      >
        <a
          href="https://apps.apple.com/us/app/id1513474218"
          class="nav-link py-3 px-4 btn btn-rounded btn-download btn-dark text-contrast mr-0 mr-md-4 mb-4 mb-md-0"
        >
          <img
            src="assets/images/app-landing-2/svg/apple.svg"
            class="icon icon-md"
            alt="..."
          />
          <p class="ml-2">
            <span class="small bold">
              {{
                'DEMOS.SALES.APP_LANDING2_DOWNLOAD.GET_IT_ON_THE' | translate
              }}</span
            >
            <span class="d-block bold text-contrast">
              {{
                'DEMOS.SALES.APP_LANDING2_DOWNLOAD.APP_STORE' | translate
              }}</span
            >
          </p>
        </a>

        <a
          href="https://play.google.com/store/apps/details?id=ai.everythink.community"
          class="nav-link py-3 px-4 btn btn-rounded btn-download btn-light text-darker"
        >
          <img
            src="assets/images/app-landing-2/svg/google-play.svg"
            class="icon icon-md"
            alt="..."
          />
          <p class="ml-2">
            <span class="small bold">
              {{
                'DEMOS.SALES.APP_LANDING2_DOWNLOAD.DOWNLOAD_ON' | translate
              }}</span
            >
            <span class="d-block bold text-darker">
              {{
                'DEMOS.SALES.APP_LANDING2_DOWNLOAD.GOOGLE_PLAY' | translate
              }}</span
            >
          </p>
        </a>
      </nav>
    </div>
  </div>
</section>
