<!-- ./App Landing - page header -->
<header class="section header text-contrast app-landing-header">
  <div class="shape-wrapper">
    <div
      class="shape shape-background shape-main gradient gradient-purple-navy"
    ></div>
    <div
      class="shape shape-background shape-top gradient gradient-navy-purple"
    ></div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gap-y align-items-center">
      <div class="col-md-6 col-lg-6">
        <h1 class="bold text-contrast display-lg-5 font-lg mb-5">
          {{ 'HOME.APP_LANDING_HEADING.HEADING.HR_CONSULTIN' | translate }}
          <span class="d-block light font-md">
            {{ 'HOME.APP_LANDING_HEADING.HEADING.CONSULTANT' | translate }}
          </span>
        </h1>
        <p class="lead">
          {{ 'HOME.APP_LANDING_HEADING.HEADING.IAS' | translate }}
        </p>

        <div class="nav mt-5 align-items-center">
          <a
            href="https://everythink.ai/app/#/sessions/signup"
            class="btn btn-rounded btn-lg btn-info shadow mr-3 px-4 text-capitalize"
          >
            {{ 'HOME.APP_LANDING_HEADING.HEADING.GERSTARTED' | translate }}
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 ml-lg-auto">
        <div data-aos="fade-le2ft">
          <div class="mobile-dev2ice ipho1ne-x">
            <div class="scre2en">
              <!-- <video
                width="100%"
                autoplay="autoplay"
                controls
                style="margin-top: 50px; margin-bottom: 20px;"
              >
                <source
                  src="assets/images/app-landing/screens/app/hr_web_phone_01_A.gif"
                  type="video/mp4"
                />
              </video> -->
              <img
                src="https://everythink.sfo2.digitaloceanspaces.com/avatars/amy/00.gif"
                alt=""
                width="90%"
                data-aos-delay="1000"
                data-aos="zoom-in"
              />
            </div>
            <div class="notch"></div>
          </div>

          <div class="absolute screen-highlight center-x w-100">
            <!--  <img
              src="assets/images/app-landing/screens/app/hr_web_phone_01_A.gif"
              alt=""
              class="mx-auto shadow-lg rounded img-responsive"
              data-aos-delay="1000"
              data-aos="zoom-in"
            /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
