<section class="section bg-light">
  <div class="container bring-to-front pb-0">
    <div class="section-heading text-center w-75 mx-auto">
      <h2>
        {{ 'DEMOS.START_UP.WHY_DASHCORE.WHY_DASHCORE_TEMPLATE' | translate }}
      </h2>
      <p class="lead text-secondary">
        {{ 'DEMOS.START_UP.WHY_DASHCORE.WHEN_LOOKING' | translate }}
      </p>
    </div>

    <div class="shadow bg-contrast p-5 rounded">
      <ngb-tabset
        type="tabs tabs-clean slide d-inline-flex mb-4"
        [destroyOnHide]="false"
      >
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="bold text-uppercase">
              {{ 'DEMOS.START_UP.WHY_DASHCORE.DEVELOPERS' | translate }}
            </span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  <p style="color:#212121;font-size:35px;  font-weight: normal">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DEVELOPERS0'
                        | translate
                    }}
                    <span
                      style="color:#000000;font-weight: bold;font-size:40px"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DEVELOPERS01'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DEVELOPERS1'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DEVELOPERS11'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DEVELOPERS2'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DEVELOPERS22'
                          | translate
                      }}</span
                    >
                  </p>
                </h2>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/images/calendar/matchmaking.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle
            ><span class="bold text-uppercase">{{
              'DEMOS.START_UP.WHY_DASHCORE.DESIGNER' | translate
            }}</span></ng-template
          >
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  <p style="color:#212121;font-size:35px;  font-weight: normal">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DESIGNER0'
                        | translate
                    }}
                    <span
                      style="color:#000000;font-weight: bold;font-size:40px"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DESIGNER01'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DESIGNER1'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DESIGNER11'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DESIGNER2'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_DESIGNER22'
                          | translate
                      }}</span
                    >
                  </p>
                </h2>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/images/calendar/Imagen 1.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle
            ><span class="bold text-uppercase">{{
              'DEMOS.START_UP.WHY_DASHCORE.REMINDERS' | translate
            }}</span></ng-template
          >
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  <p style="color:#212121;font-size:35px;  font-weight: normal">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REMINDERS0'
                        | translate
                    }}
                    <span
                      style="color:#000000;font-weight: bold;font-size:40px"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REMINDERS01'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REMINDERS1'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REMINDERS11'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REMINDERS2'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REMINDERS22'
                          | translate
                      }}</span
                    >
                  </p>
                </h2>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/images/calendar/notificaciones_calendar.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle
            ><span class="bold text-uppercase">{{
              'DEMOS.START_UP.WHY_DASHCORE.PAYMENTS' | translate
            }}</span></ng-template
          >
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  <p style="color:#212121;font-size:35px;  font-weight: normal">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAYMENTS0'
                        | translate
                    }}
                    <span
                      style="color:#000000;font-weight: bold;font-size:40px"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAYMENTS01'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAYMENTS1'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAYMENTS11'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAYMENTS2'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAYMENTS22'
                          | translate
                      }}</span
                    >
                  </p>
                </h2>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/images/calendar/integraciones.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle
            ><span class="bold text-uppercase">{{
              'DEMOS.START_UP.WHY_DASHCORE.PAGE' | translate
            }}</span></ng-template
          >
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  <p style="color:#212121;font-size:35px;  font-weight: normal">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAGE0' | translate
                    }}
                    <span
                      style="color:#000000;font-weight: bold;font-size:40px"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAGE01'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAGE1' | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAGE11'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAGE2' | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_PAGE22'
                          | translate
                      }}</span
                    >
                  </p>
                </h2>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/img/screens/designer.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle
            ><span class="bold text-uppercase">{{
              'DEMOS.START_UP.WHY_DASHCORE.CALENDARS' | translate
            }}</span></ng-template
          >
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  <p style="color:#212121;font-size:35px;  font-weight: normal">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_CALENDARS0'
                        | translate
                    }}
                    <span
                      style="color:#000000;font-weight: bold;font-size:40px"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_CALENDARS01'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_CALENDARS1'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_CALENDARS11'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_CALENDARS2'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_CALENDARS22'
                          | translate
                      }}</span
                    >
                  </p>
                </h2>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/images/calendar/sync_calendars_others.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle
            ><span class="bold text-uppercase">{{
              'DEMOS.START_UP.WHY_DASHCORE.REPORTING' | translate
            }}</span></ng-template
          >
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  <p style="color:#212121;font-size:35px;  font-weight: normal">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REPORTING0'
                        | translate
                    }}
                    <span
                      style="color:#000000;font-weight: bold;font-size:40px"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REPORTING01'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REPORTING1'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REPORTING11'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REPORTING2'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_REPORTING22'
                          | translate
                      }}</span
                    >
                  </p>
                </h2>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/images/calendar/reports.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle
            ><span class="bold text-uppercase">{{
              'DEMOS.START_UP.WHY_DASHCORE.SECURITY' | translate
            }}</span></ng-template
          >
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  <p style="color:#212121;font-size:35px;  font-weight: normal">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_SECURITY0'
                        | translate
                    }}
                    <span
                      style="color:#000000;font-weight: bold;font-size:40px"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_SECURITY01'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_SECURITY1'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_SECURITY11'
                          | translate
                      }}</span
                    >
                  </p>
                  <p style="color:#000000;font-weight: bold;font-size:40px">
                    {{
                      'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_SECURITY2'
                        | translate
                    }}
                    <span
                      style="color:#212121;font-size:35px; font-weight: normal"
                      >{{
                        'DEMOS.START_UP.WHY_DASHCORE.ENGAGING_SECURITY22'
                          | translate
                      }}</span
                    >
                  </p>
                </h2>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/images/calendar/seguridad.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</section>
