<section
  class="section {{ background ? 'bg-' + background : '' }} {{
    edge ? 'edge ' + edge : ''
  }}"
>
  <div class="container pt-5">
    <div class="d-flex align-items-center flex-column flex-md-row">
      <div class="text-center text-md-left">
        <p class="light mb-0 text-primary lead">
          {{ 'CATE.CATE1.READY_TO_GET_STARTED' | translate }}
        </p>
        <h6 class="mt-1">
          {{ 'CATE.CATE1.BECOME_ONE_OF_THE_MILLIONS' | translate }}
        </h6>
      </div>
      <a
        href="https://everythink.ai/app/#/sessions/signup"
        class="btn btn-primary btn-rounded mt-3 mt-md-0 ml-md-auto"
      >
        {{ 'CATE.CATE1.CREATE_EVERTTHINKACCOUNT' | translate }}</a
      >
    </div>
  </div>
</section>
