<section class="section">
  <div class="container pt-5">
    <div class="section-heading text-center">
      <h2 class="bold">
        {{
          'DEMOS.RPACREAORS.ONLINE_PAYMENT.CUSTOMERS_MANAGEMENT.CREATE_SMART'
            | translate
        }}
        <span class="bold">
          {{
            'DEMOS.RPACREAORS.ONLINE_PAYMENT.CUSTOMERS_MANAGEMENT.EXERIENCES_WITH'
              | translate
          }}
        </span>
        {{
          'DEMOS.RPACREAORS.ONLINE_PAYMENT.CUSTOMERS_MANAGEMENT.EVERYTHINK'
            | translate
        }}
      </h2>
      <p class="lead text-secondary">
        {{
          'DEMOS.RPACREAORS.ONLINE_PAYMENT.CUSTOMERS_MANAGEMENT.SIMPLE_IMPLEMENTATION'
            | translate
        }}
      </p>
    </div>

    <div class="centered-screen">
      <div
        class="absolute-md right message text-center text-md-left"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <span
          class="bg-primary p-3 m-0 text-contrast arrow bottom small rounded"
        >
          {{
            'DEMOS.RPACREAORS.ONLINE_PAYMENT.CUSTOMERS_MANAGEMENT.CUSTOMERSADMINISTRATION'
              | translate
          }}</span
        >
      </div>

      <div class="px-5 mt-5 mt-md-0">
        <img
          src="assets/images/online-payment/screens/payments/customer-list.png"
          alt=""
          class="shadow-lg rounded img-responsive mx-auto op-7"
        />
      </div>

      <img
        src="assets/images/online-payment/screens/payments/highlight.png"
        alt=""
        class="absolute shadow-lg rounded img-responsive screen-highlight"
        data-aos="zoom-in"
      />
    </div>
  </div>
</section>
