<section class="section">
  <div class="container bring-to-front">
    <div class="shadow rounded text-center bg-info-gradient p-5">
      <h2 class="mb-5 text-contrast">
        {{ 'USUAL.START_NOW_BOX.TRY_EVERYTHINK_NOW' | translate }}
      </h2>
      <p class="handwritten highlight font-md text-alternate">
        {{ 'USUAL.START_NOW_BOX.WHY_WAIT' | translate }}
      </p>

      <a
        href="https://everythink.ai/app/#/sessions/signup"
        class="btn btn-darker btn-rounded mt-4"
      >
        {{ 'USUAL.START_NOW_BOX.START_NOW' | translate }}
      </a>
    </div>
  </div>
</section>
