<section class="section features bg-light-gradient">
  <div class="container">
    <div class="section-heading text-center">
      <h2>{{ 'ABOUT.FEATURES.OUR_FEATURES_STACK' | translate }}</h2>
      <p class="lead text-secondary">
        {{ 'ABOUT.FEATURES.TAKE_THE_CONTROL' | translate }}
      </p>
    </div>

    <div class="row gap-y">
      <div class="col-md-3" *ngFor="let feature of features">
        <div class="shadow-box shadow-hover border-0 card">
          <div class="card-body text-center">
            <dc-feather
              [name]="feature.icon"
              [iconClass]="'stroke-primary'"
            ></dc-feather>
            <p class="mb-0">{{ feature.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
