<section class="section trending-design">
  <div class="shapes-container">
    <div class="shape shape-square" data-aos="flip-right"></div>
    <div class="shape shape-ring shape-ring-2"></div>
  </div>

  <div class="container bring-to-front">
    <div class="row gap-y align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="iphone-x shadow-lg mr-md-0">
          <div class="screen shadow-box">
            <video width="100%" autoplay="autoplay" controls>
              <source
                src="assets/images/app-landing-2/screens/app/sm_consensus.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <div class="notch"></div>
        </div>
      </div>

      <div class="col-md-6 text-center text-md-left">
        <div class="section-heading">
          <h2 class="light font-md display-md-4 heading-line">
            {{
              'DEMOS.SALES.APP_LANDING2_TRENDING_DESIGN.SIMPLE_IMPLEMENTATION'
                | translate
            }}
          </h2>
          <p class="lead text-muted">
            {{
              'DEMOS.SALES.APP_LANDING2_TRENDING_DESIGN.SINCE_THE_NEED'
                | translate
            }}
          </p>
        </div>

        <p>
          {{
            'DEMOS.SALES.APP_LANDING2_TRENDING_DESIGN.THE_POSSIBILITIES'
              | translate
          }}
        </p>
      </div>
    </div>
  </div>
</section>
