<!-- ./Customers -->
<section class="section bg-contrast edge bottom-right">
  <div class="container">
    <div class="section-heading text-center">
      <h2>{{ 'ABOUT.CUSTOMERS.THIRD_PARTY' | translate }}</h2>
      <p class="text-secondary lead">
        {{ 'ABOUT.CUSTOMERS.WE_USE_THE_LATEST_TRENDS' | translate }}
      </p>
    </div>

    <ul class="list-unstyled d-flex flex-wrap justify-content-around">
      <li
        [attr.data-aos-easing]="'ease-in-out-cubic'"
        [attr.data-aos]="image.aos"
        [attr.data-aos-delay]="(image.image - 1) * 100"
        *ngFor="let image of images"
        class="shadow-box bg-light rounded-circle icon-xxl image-background contain mt-{{
          image.margin
        }}"
        [style.background-image]="
          'url(assets/images/about/' + image.image + '.png)'
        "
      ></li>
    </ul>

    <div class="text-center mt-6">
      <dc-feather [name]="'code'" [iconClass]="'stroke-primary'"></dc-feather>
      <p class="text-primary">
        {{ 'ABOUT.CUSTOMERS.ARE_YOU_A_DEVELOPER' | translate }}
      </p>
      <a
        href="https://everythink.ai/app/#/sessions/signup"
        class="btn btn-rounded btn-primary"
      >
        {{ 'ABOUT.CUSTOMERS.REVIEW_THE_SPECS' | translate }}</a
      >
    </div>
  </div>
</section>
