<dc-corporate-heading></dc-corporate-heading>
<dc-slider-icons></dc-slider-icons>

<dc-features-icons-col></dc-features-icons-col>
<dc-slider-start-right-way></dc-slider-start-right-way>
<dc-testimonial-simple-text-left></dc-testimonial-simple-text-left>
<dc-corporate-do-business></dc-corporate-do-business>
<dc-big-screen
  [img]="'assets/images/corporate/screens/dash/2.png'"
  [screenPos]="'left'"
>
  <h2>
    {{ 'DEMOS.HEALTH.CORPORATE.DID_YOU_KNOW' | translate }}
  </h2>
  <p class="lead text-secondary">
    {{ 'DEMOS.HEALTH.CORPORATE.80_OF_THE_CASE_ARISE' | translate }}
  </p>
  <p></p>
  <a href="#" class="btn btn-info btn-rounded mt-2">Learn More</a>
</dc-big-screen>
<dc-big-screen
  [img]="'assets/images/corporate/screens/dash/1.png'"
  [screenPos]="'right'"
>
  <h2>
    {{ 'DEMOS.HEALTH.CORPORATE.EVERYTHINK_MAKE_TREATMENT_MORE' | translate }}
  </h2>
  <p class="lead text-secondary">
    {{ 'DEMOS.HEALTH.CORPORATE.EVERYTHINK_IS_THE_SOLUTION' | translate }}
  </p>
  <p></p>
  <a href="#" class="btn btn-info btn-rounded mt-2">{{
    'DEMOS.HEALTH.CORPORATE.LEARN_MORE' | translate
  }}</a>
</dc-big-screen>
<dc-testimonial-simple-text-right></dc-testimonial-simple-text-right>
<dc-faqs1></dc-faqs1>
<dc-footer2></dc-footer2>
