<section class="singl-testimonial shadow">
  <div class="container-fluid py-0">
    <div
      class="row align-items-center gradient gradient-blue-navy text-contrast"
    >
      <div class="col-md-3 mx-auto py-4 py-md-0">
        <p
          class="rounded-pill py-2 px-4 text-uppercase mb-0 badge badge-contrast"
        >
          {{
            'TESTIMONIALS.TESTIMONIAL_SIMPLE_TEXT_LEFT.EVERYTHIN_IS_GREAT_FOR'
              | translate
          }}
        </p>

        <p class="font-md bold mt-1 text-contrast">
          {{
            'TESTIMONIALS.TESTIMONIAL_SIMPLE_TEXT_LEFT.ANYONE_WHO_IS_LOOKING_FOR_SIMPLE'
              | translate
          }}
        </p>

        <hr class="my-4" />
        <div class="small text-contrast">
          <span class="bold d-block">
            {{
              'TESTIMONIALS.TESTIMONIAL_SIMPLE_TEXT_LEFT.EVERYTHINK_LTD_TEAM'
                | translate
            }}</span
          >
          {{
            'TESTIMONIALS.TESTIMONIAL_SIMPLE_TEXT_LEFT.DoING_GREATE_SINCE'
              | translate
          }}
        </div>
      </div>

      <div
        class="col-12 col-md-7 image-background cover"
        [style.background-image]="'url(assets/img/testimonials/1.jpg)'"
      ></div>
    </div>
  </div>
</section>
