<section class="section terms">
  <div class="container pt-md-9">
    <h1>{{ 'TERMS.trm_terms_of_use' | translate }}</h1>
    <p class="text-secondary small bold">
      {{ 'TERMS.trm_last_update' | translate }}
    </p>

    <hr class="my-4" />

    <p class="bold">{{ 'TERMS.trm_general_information' | translate }}</p>
    <p>
      {{ 'TERMS.trm_introduction' | translate }}
    </p>

    <p class="text-uppercase mb-5"></p>

    <h3>{{ 'TERMS.trm_1_acceptance_terms' | translate }}</h3>
    <p class="bold">
      {{ 'TERMS.trm_1_acceptance_terms_1' | translate }}
    </p>
    <p>
      {{ 'TERMS.trm_1_acceptance_terms_2' | translate }}
    </p>

    <h3>{{ 'TERMS.trm_2_eligibility' | translate }}</h3>
    <p>
      {{ 'TERMS.trm_2_eligibility_1' | translate }}
    </p>
    <p></p>

    <h3>{{ 'TERMS.trm_3_user_accounts' | translate }}</h3>
    <p>
      {{ 'TERMS.trm_3_user_accounts_1' | translate }}
    </p>

    <h3>{{ 'TERMS.trm_4_terms_termination' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_4_terms_termination_1' | translate }}
    </p>
    <p class="text-uppercase"></p>

    <h3>{{ 'TERMS.trm_5_non_commercial_use' | translate }}</h3>
    <p>
      {{ 'TERMS.trm_5_non_commercial_use_1' | translate }}
    </p>

    <h3>{{ 'TERMS.trm_6_the_services' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_6_the_services_1' | translate }}
    </p>
    <p class="text-uppercase"></p>

    <h3>{{ 'TERMS.trm_7_interactions' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_7_interactions_1' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_7_interactions_2' | translate }}
    </p>

    <h3>{{ 'TERMS.trm_8_content_posted' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_1' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_2' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_3' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_1' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_2' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_3' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_4' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_5' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_6' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_7' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_8' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_9' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_10' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_11' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_12' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_13' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_4_14' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_8_content_posted_text' | translate }}
    </p>

    <h3>{{ 'TERMS.trm_9_use_service_0' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_9_use_service' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_10_agree_content' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_11_prohibited_activities' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_1' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_2' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_3' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_4' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_5' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_6' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_7' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_8' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_9' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_10' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_11' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_12' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_13' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_14' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_15' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_11_prohibited_activities_1_16' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_12_propietary_rights' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_12_propietary_rights_1' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_13_ownership' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_13_ownership_1' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_14_user_provided_content' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_14_user_provided_content_1' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_15_network_access_devices' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_15_network_access_devices_1' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_16_modifications_service' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_16_modifications_service_1' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_17_copyright_policy' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1_1' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1_2' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1_3' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1_4' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1_5' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1_6' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1_text' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_copyright_policy_1_text1' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_17_disclaimers' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_disclaimers_0' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_disclaimers_1' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_limitation' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_17_limitation_1' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_18_arbitration' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_18_arbitration_p' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_18_arbitration_i_01' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_18_arbitration_i_02' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_18_arbitration_i_03' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_18_arbitration_i_04' | translate }}
    </p>
    <p class="text-uppercase">
      {{ 'TERMS.trm_18_arbitration_p_1' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_19_' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_19_p' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_20_' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_20_p' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_21_' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_21_p' | translate }}
    </p>
    <h3>{{ 'TERMS.trm_question' | translate }}</h3>
    <p class="text-uppercase">
      {{ 'TERMS.trm_privacy_policy' | translate }}
    </p>

    <p></p>
  </div>
</section>
