<section class="section b-b">
  <div class="container">
    <div class="row gap-y align-items-center text-center text-lg-left">
      <div class="col-12 col-md-6 py-4 px-5 b-md-r">
        <dc-feather
          [name]="'dollar-sign'"
          [iconClass]="'stroke-darker'"
        ></dc-feather>
        <a
          href="https://everythink.ai/app/#/sessions/signup"
          class="mt-4 text-darker d-flex align-items-center"
        >
          <h4 class="mr-3">
            {{ 'CONTACT.OTHER_CHANNELS.CONTACT_SALE' | translate }}
          </h4>
          <fa-icon [icon]="longArrowAltRight"></fa-icon>
        </a>
        <p class="mt-4">
          {{ 'CONTACT.OTHER_CHANNELS.LOOKING_FOR_CUSTOM_QUOTE' | translate }}
          <a href="mailto:caro@everythink.ai">sales@everythink.ai</a>
        </p>
      </div>

      <div class="col-12 col-md-6 py-4 px-5">
        <dc-feather
          [name]="'life-buoy'"
          [iconClass]="'stroke-darker'"
        ></dc-feather>
        <a
          href="https://everythink.ai/app/#/sessions/signup"
          class="mt-4 text-darker d-flex align-items-center"
        >
          <h4 class="mr-3">
            {{ 'CONTACT.OTHER_CHANNELS.TECHNICAL_SUPPORT' | translate }}
          </h4>
          <fa-icon [icon]="longArrowAltRight"></fa-icon>
        </a>
        <p class="mt-4">
          {{ 'CONTACT.OTHER_CHANNELS.ANY_QUESTION' | translate }}
          <a href="mailto:caro@everythink.ai">caro@everythink.ai</a>
        </p>
      </div>
    </div>
  </div>
</section>
