<section class="section focus-on-success">
  <div class="shapes-container">
    <div class="shape shape-triangle" data-aos="flip-left">
      <div></div>
    </div>
    <div class="shape shape-ring shape-ring-2"></div>
  </div>

  <div class="container bring-to-front">
    <div class="row gap-y align-items-center">
      <div class="col-md-6">
        <div class="iphone-x shadow-lg ml-md-0">
          <div class="screen shadow-box">
            <video
              width="100%"
              autoplay="autoplay"
              controls
              style="margin-top: 50px; margin-bottom: 20px;"
            >
              <source
                src="assets/images/app-landing-2/screens/app/sm_buy_product.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <div class="notch"></div>
        </div>
      </div>

      <div class="col-md-6 text-center text-md-left">
        <div class="section-heading">
          <h2 class="light font-md display-md-4 heading-line">
            {{
              'DEMOS.SALES.APP_LANDING2_FOCUS_ON_SUCCESS.FORGET_OBSOLETE'
                | translate
            }}
          </h2>
          <p class="lead text-muted">
            {{
              'DEMOS.SALES.APP_LANDING2_FOCUS_ON_SUCCESS.EVERYTHINK_DELIVERS'
                | translate
            }}
          </p>
        </div>

        <p>
          {{
            'DEMOS.SALES.APP_LANDING2_FOCUS_ON_SUCCESS.DOT_NOT_WASTE_TIME'
              | translate
          }}
        </p>
      </div>
    </div>
  </div>
</section>
