<section class="section lightweight-template">
  <div class="container">
    <div class="row align-items-center text-center text-lg-left">
      <div class="col-md-8 col-lg-6 mr-auto">
        <h2>
          {{ 'DEMOS.SAAS.LIGHTWEIGHT_TEMPLATE.YOUR_SMART_PUPPETS' | translate }}
        </h2>

        <p class="lead text-secondary">
          {{
            'DEMOS.SAAS.LIGHTWEIGHT_TEMPLATE.WILL_PROVIDE_YOUR_PROSPECTS_AND_CLIENTS'
              | translate
          }}
        </p>

        <p>
          {{
            'DEMOS.SAAS.LIGHTWEIGHT_TEMPLATE.SIMLIFYING_THE_CURRENT' | translate
          }}
        </p>

        <a
          [routerLink]="['/about']"
          class="btn btn-info btn-rounded mt-4 learn-more"
        >
          {{ 'DEMOS.SAAS.LIGHTWEIGHT_TEMPLATE.LEARN_MORE' | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
