<section class="section">
  <div class="container bring-to-front">
    <div
      class="shadow rounded text-center blanket blanket-dark alpha-8 text-contrast p-5 image-background cover"
      style="background-image: url(https://picsum.photos/350/200/?random&gravity=south)"
    >
      <div class="content">
        <div class="section-heading">
          <h2 class="text-contrast">
            {{ 'ABOUT.VIDEO.DISCOVER_HOW_DASHCORE_WORKS' | translate }}
          </h2>
        </div>

        <p class="handwritten highlight font-md">
          {{ 'ABOUT.VIDEO.PLAY_THE_VIDEO' | translate }}
        </p>

        <a
          href="https://vimeo.com/457483038/9bd8bc4160"
          class="btn btn-circle btn-lg btn-primary"
        >
          <dc-feather
            [name]="'play'"
            class="ml-2"
            stroke-width="1"
          ></dc-feather>
        </a>
      </div>
    </div>
  </div>
</section>
