<section class="section built-tech">
  <div class="container">
    <div class="shapes-container">
      <div class="shape shape-circle" data-aos="fade-up">
        <div></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-7">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8 b-md-r">
                <span class="badge badge-primary badge-pill bold px-4 py-2"
                  >Better tech</span
                >
                <h2 class="mt-3">
                  <span class="bold">{{
                    'DEMOS.DATAFLOWS_CREATOORS.INTEGRATION.BUILT_TECH.INDUSTRY_LEADING'
                      | translate
                  }}</span>
                  {{
                    'DEMOS.DATAFLOWS_CREATOORS.INTEGRATION.BUILT_TECH.TECHNOLOGY'
                      | translate
                  }}
                </h2>
                <p class="text-muted">
                  {{
                    'DEMOS.DATAFLOWS_CREATOORS.INTEGRATION.BUILT_TECH.EVERYTHINK_STUDIO'
                      | translate
                  }}
                </p>

                <figure class="">
                  <img
                    src="assets/images/integration/logos/webpack.svg"
                    class="img-responsive mx-auto"
                    alt=""
                  />
                </figure>
              </div>
              <div class="col-md-4 d-flex flex-column justify-content-around">
                <div class="text-center" *ngFor="let stack of stacks">
                  <figure class="mockup">
                    <img
                      [src]="
                        'assets/images/integration/logos/' +
                        stack.image +
                        '.svg'
                      "
                      alt=""
                    />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-5">
        <div class="shapes-container">
          <div class="shape shape-ring shape-ring-1" data-aos="fade-up">
            <div></div>
          </div>
        </div>

        <div class="section-heading">
          <figure class="mockup ml-0">
            <img src="assets/images/integration/tech-globe.svg" alt="" />
          </figure>
          <h2 class="my-3 font-md">
            <span class="bold"
              >{{
                'DEMOS.DATAFLOWS_CREATOORS.INTEGRATION.BUILT_TECH.ONE_STEP_AHEAD_OF_AIS'
                  | translate
              }}
            </span>
          </h2>

          <p class="text-muted">
            {{
              'DEMOS.DATAFLOWS_CREATOORS.INTEGRATION.BUILT_TECH.EMPOWER_THE_INTELLIGENT'
                | translate
            }}
          </p>
        </div>

        <div class="row">
          <div class="col-md-6" *ngFor="let item of items">
            <div class="media pb-3">
              <div
                class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3"
              >
                <dc-feather
                  [name]="item.icon"
                  [iconClass]="'stroke-primary'"
                ></dc-feather>
              </div>
              <div class="media-body">
                <h5>{{ item.title }}</h5>
                <p>{{ item.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
